{{/* 
Formspree & Pexels API Configuration
*/}}

<div id="pexels-quiries" data-queries="{{ .Site.Params.pexels.queries | jsonify }}" style="display: none;"></div>
<div id="pexels-api-key" data-params='{{ .Site.Params.pexels_api_key | jsonify }}' style="display:none;"></div>
<div id="pexels-specific-images" data-params='{{ .Site.Params.pexels.specific_images | jsonify }}' style="display:none;"></div>
<div id="formspree-endpoint" data-params='{{ .Site.Params.formspree_endpoint | jsonify }}' style="display:none;"></div>

<script>
  // Load data configured in config.toml
  const pexelsQuiriesConfig = document.getElementById('pexels-quiries');
  window.PEXELS_QUERIES = JSON.parse(pexelsQuiriesConfig.getAttribute('data-queries'));
  
  const pexelsApiKeyConfig = document.getElementById('pexels-api-key');
  window.PEXELS_API_KEY = JSON.parse(pexelsApiKeyConfig.getAttribute('data-params'));

  const pexelsSpecificImagesConfig = document.getElementById('pexels-specific-images');
  window.PEXELS_SPECIFIC_IMAGES = JSON.parse(pexelsSpecificImagesConfig.getAttribute('data-params'));

  const formspreeConfig = document.getElementById('formspree-endpoint');
  window.FORMSPREE_ENDPOINT = JSON.parse(formspreeConfig.getAttribute('data-params'));
  
</script>
